body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    margin: 0;
    color: #c8c4c3;
    background-color: #000000;
}

a:link, a:visited, a:hover, a:active {
  color: #c8c4c3;
  text-decoration: none;
}

#top img {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.pic img {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.nav, .footer {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: rgba(5, 5, 5, .8);
    color: #c8c4c3;
    text-align: center;
    font-style: italic;
  }
 
.footer p {
    color: #c8c4c3;
    font-size: 50%; 
  }

h1 {
    color: #c8c4c3;
    text-align: center;
  }

ul {
    list-style: none;
    margin: 0;
  }
  
li {
    color: #c8c4c3;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
  }
  
#top,
.quote,
.pic,
#florarium,
.photos,
#contact {
    margin: 2em 2em;
  }
  
.quote, #florarium {
    padding: 0 1rem;
  }
  
#florarium p {
    color: #c8c4c3;
    text-align: justify;
    text-justify: inter-word;
  }
  
.photos img {
    width: 30%;
    margin: 1.5%;
  }
  
#contact {
    margin-bottom: 1rem;
  }

#contact p {
    color: #c8c4c3;
    text-align: center;
  }
  
@media only screen and (max-width: 1048px) {
  
    #top img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .pic img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .photos img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
@media only screen and (max-width: 640px) {
  
    #top img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .pic img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .photos img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
    li {
      display: block;
      text-align: center;
    }
  }
  
@media only screen and (max-width: 320px) {
  
    #top img {
      width: 100%;
    }

    .pic img {
      width: 100%;
    }

    .photos img {
      width: 100%;
    }
  }
  
